body {
    background: #333333;
    margin: 0;
    padding: 0;
}

h1 {
	color: #2CADFF;
}

	h1 span {
		font-size: 50%;
		color: #333333;
		margin-left: 10px;
	}
	
	h1 a {
		text-decoration: none;
	}

h2, h3, h4, h5, h6 {
	color: #333333;
}

a:link,
a:active,
a:visited {
	color: #2CADFF;
}

a.active {
	font-weight: bold;
}

a[name] {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dashed #333333;
}

#wrapper {
	padding: 20px 40px;
    width: 880px;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    background: #fff;
    box-shadow:-3px -3px 10px #CCCCCC, 3px -3px 10px #CCCCCC;
}

#main-nav {
	position: fixed;
	top: 0;
	margin-left: 440px;
	width: 400px;
	height: 20px;
	border-radius: 0  0 10px 10px;
	border: 3px solid white;
	border-width: 0 3px 3px 3px;
	text-align: center;
	padding: 10px 20px;
	background: #333333;
	color: #fff;
	font-weight: bold;
}

	#main-nav a:link,
	#main-nav a:active,
	#main-nav a:visited {
		color: #fff;
	}

.content {
	width: 800px;
	padding: 20px;
	margin: 20px 0 50px 0;
	border: 2px dashed #CCC;
}
