body {
    background: #333333;
    margin: 0;
    padding: 0;
}

h1 {
	color: #2CADFF;
}

	h1 span {
		font-size: 50%;
		color: #333333;
		margin-left: 10px;
	}

	h1 a {
		text-decoration: none;
	}

h2, h3, h4, h5, h6 {
	color: #333333;
}

a:link,
a:active,
a:visited {
	color: #2CADFF;
}

a.active {
	font-weight: bold;
}

a[name] {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dashed #333333;
}

#wrapper {
	padding: 20px 40px;
    width: 880px;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    background: #fff;
    box-shadow:-3px -3px 10px #CCCCCC, 3px -3px 10px #CCCCCC;
}

#main-nav {
	position: fixed;
	top: 0;
	margin-left: 440px;
	width: 400px;
	height: 20px;
	border-radius: 0  0 10px 10px;
	border: 3px solid white;
	border-width: 0 3px 3px 3px;
	text-align: center;
	padding: 10px 20px;
	background: #333333;
	color: #fff;
	font-weight: bold;
}

	#main-nav a:link,
	#main-nav a:active,
	#main-nav a:visited {
		color: #fff;
	}

.content {
	width: 800px;
	padding: 20px;
	margin: 20px 0 50px 0;
	border: 2px dashed #CCC;
}

#sponsor-logo {
    display: block;
    background: #333333;
    padding: 10px;
}

#sponsor-logo img {
    width: 150px;
}

#forkongithub a{background:#ffcc33;color:#333333;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#2CADFF;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;left:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;left:-60px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}
